@font-face { font-family: "Trajan Pro"; src: url('fonts/TrajanPro-Regular.ttf'); }
@font-face { font-family: "Alumni Sans Regular"; src: url('fonts/AlumniSans-Regular.ttf'); }
@font-face { font-family: "Alumni Sans ExtraLight"; src: url('fonts/AlumniSans-ExtraLight.ttf'); }
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face { font-family: "Kaisei Tokumin"; src: url('fonts/KaiseiTokumin-Regular.ttf'); }
@font-face { font-family: "Sansation Regular"; src: url('fonts/Sansation_Regular.ttf');}
@font-face { font-family: "Sansation Italic"; src: url('fonts/Sansation_Italic.ttf');}
@font-face { font-family: "Sansation Light"; src: url('fonts/Sansation_Light.ttf');}
@font-face { font-family: "Sansation Bold"; src: url('fonts/Sansation_Bold.ttf');}

:root {
    --pink: #b2a4bd;
    --pink-2: #8876a0;
    --pink-3: #4b4e74;
    --maroon: #492d4b;
    --blue: #485d81;
    --blue-2: #22345c;
    --blue-3: #152041;
    --blue-4: #1a163e;
    --white: #EAEAEA;
    --serif-header: 'Trajan Pro', 'Arial', Times, serif;
    --serif-header-2: "Kaisei Tokumin", 'Times New Roman', serif;
    --serif-text: "Kaisei Tokumin", Arial;
    --sans-serif-text: 'Poppins', Arial, Helvetica, sans-serif;
    --sans-serif-text-2: 'Alumni Sans Regular', "Comic Sans MS";
    --sans-serif-text-2-light: 'Alumni Sans ExtraLight', "Comic Sans MS";
    --sans-serif-text-3: 'Sansation Regular', "Arial", sans-serif;
    --sans-serif-text-3-italic: 'Sansation Italic', "Arial", sans-serif;
    --sans-serif-text-3-light: 'Sansation Light', "Arial", sans-serif;
    --sans-serif-text-3-bold: 'Sansation Bold', "Arial Black", sans-serif;

    --paragraph: 24px;
}

body {
    margin: 0 0;
    background-color: var(--white); /* Makes sure white background isn't purely white */
}

a {text-decoration: none;} /* No hyperlink shall ever have a default underline */
a:hover {color: var(--pink-2) !important} /* Something tells me this breaks something */

p, h1 {
    font-family: var(--serif-text); /* Default font for h1 and p is Kaisei Tokumin */
}

h2 {
    font-family: var(--serif-header-2); 
}

.text-shadow {
    margin: 0;
    text-shadow: 0 0 4px black, 2px 2px 32px black;
}

.header-space {height: 80px} /* Makes sure that top content doesn't overlap with the header */

#header, .firstimage h1 {
    font-family: var(--serif-header);
}   


#header {
    background-color: var(--blue-3);
    z-index: 1;
    height: 80px;
    display: block;
    flex-direction: column;
    top: 0;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#hamburger-menu {
    display: none; /* Toggled by js using displayHamburgerMenu() */
    height: 2rem;
    border-top: 2px solid var(--pink-3);
    background-color: var(--blue-4);
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 30px;
}

#header.hide {
    top: -90px;
}

#header p {
    font-weight: 600;
}

#header a {
    font-family: var(--sans-serif-text);
    font-weight: 400;
    color: var(--pink);
    text-decoration: none;
}



.logo {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 620px; /* How much width the uni name can take in header */
}


.logo span {
    font-size: 2.2em; /* Renders text differently in Firefox and Chrome */
    font-family: var(--serif-header);
    display: block; 
    margin: auto 0;
    color: var(--pink);
}


.logo img {
    max-width: 90%;
    max-height: 90%;
}

.links {
    margin-right: 3vw;
    padding: 5px;
    text-align: right;
}

.links a {
    font-size: 24px;
}

.middlelink {
    margin: 0 30px;
}

.firstimage {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.firstimage img {
    width: 100%;
    height: 1000px;
    filter: brightness(60%);
    text-align: center;
}

.firstimage h1 {
    position: absolute;
    top: 450px;
    width: 100%;
    text-align: center;

    font-size: 96px;
    color: var(--white);
}

.header-section { /* hx text in different pages */
    margin-top: 1rem;
    border-top: 5px solid var(--pink-2);
    background-color: var(--blue-4);
    color: var(--white);
    box-shadow: 0 0 3px black
}


.idk {
    margin: 0;
    width: 100%;
    height: 280px;
    background-color: var(--blue-4);
    display: flex;
    flex-direction: row;
}

#thatoneline {
    width: 5px; 
    max-height: 90%; 
    background-color: white; 
    margin: 10px 20px;
}

.idk div {
    width: 50%;
    display: flex; 
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

.idk div:nth-child(1) {
    text-align: right;
    float: right; 
    margin-left: 250px;
}

.idk div:nth-child(3) {
    text-align: left;
    margin-right: 250px;
}

.idk h2 {
    color: var(--white);
    font-weight: bold;
}

.idk p {
    color: var(--white);
    margin: 0;
    min-height: 100%;
    font-size: 24px;
    font-family: var(--serif-text);
    font-weight: 300;
}

.idk2 {
    margin: 0;
    width: 100%;
    height: 480px;
}

.idk2 h2 {
    margin: 30px 0;
    font-family: var(--serif-header-2);
    text-align: center;
    font-size: 64px;
}

.idk2 p {
    font-family: var(--serif-text);
    text-align: center;
    font-size: 38px;
    margin: 2vw 10%;
}

.dark { /* Dark filled button */
    display: block;
    margin: 0 auto;
    font-size: 32px;
    width: 225px;
    cursor: pointer;
    font-family: var(--serif-text);
    text-align: center;
    /* text-decoration: none; */
    color: #fff;
    background-color: var(--blue-3);
    border: 3px solid var(--blue-3);
    border-radius: 50px;   

    }

    

.dark:hover {
    border: 3px solid var(--blue-3);
    background-color: var(--white);
    color: var(--blue-3);
}

.idk3 {
    width: 100%;
    height: 480px;
    background-image: url('img/academics.png');
    display: flex;
    flex-direction: column;
}

.idk3 h2 {
    font-family: var(--serif-header-2);
    font-size: 72px;
    color: var(--white);
    padding-top: 50px;
    margin-left: 3vw;
}

.idk3 p {
    margin-left: 3vw;
    width: 60%;
    margin-bottom: 0;
    font-size: 36px;
    color: var(--white);
}

.light {
    display: block;
    margin: 1vw 7vw;
    font-size: 32px;
    width: 225px;
    cursor: pointer;
    font-family: var(--serif-text);
    text-align: center;
    /* text-decoration: none; */
    color: #fff;
    border: 3px solid var(--white);
    border-radius: 50px;   
    background-color: transparent;
}

    
.light:hover {
    border: 3px solid var(--white);
    background-color: var(--white);
    color: var(--blue-3);
}

.nav { /* Disabled when zoom level is 180% */
    display: block;
}

#news {
    width: 100%;
    height: 820px;
}

#news h2 {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    font-size: 2.5em;
}

.newspanel {
    display: flex;
    justify-content: center;
}

.newscard {
    margin: 0 2rem;
    width: 420px;
    height: 540px;
    background-color: var(--blue-2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.newscard span {
    font-family: var(--sans-serif-text);
    color: var(--white);
    font-size: 12px;
    font-style: italic;
    padding: 20px;
    font-weight: lighter;
}

.newscard p {
    font-family: var(--sans-serif-text);
    color: var(--white);
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.newscard img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50px 50px 0 0;
    border: 0;
}


.newscard div {
    background-color: var(--blue-2);
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 50px 50px;
    height: 15rem;
}

.newscard p {
    margin: 0;
}

/*-------------------------------------NEWS ARTICLES---------------------------------------------*/

#news-headline { /* The article headline */
    color: var(--blue-4);
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
}

#byline { /* Author and date written */
    margin: 0;
    text-align: center;
}

#news-text {
    width: 80%;
    margin: 0 auto;
}

#news-text p {
    font-size: 24px;
    margin: 40px;
}

/* FOOTER */

/* #footer-space { makes sure footer doesnt overlap with main html content (300px for quick links, 50px for copyright)
    width: 100%;
    height: 350px;
} */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer h2 {
    color: var(--pink);
    margin: 0;
    padding: 10px;
    font-size: 26px;
    text-align: center;
}

#footer-main {
    height: 300px;
}

.footer-text { /* Footer text below UH text and above the copyright section */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin: 30px 0;
}

.footer-text div { /* Makes sure that each div in footer text are same width to evenly center */
    width: 500px;
}

.footer-text a {
    color: var(--white);
}

#contacts div { /* Overrides .footer-text div style, makes sure sections in contacts are less than half of its parent width */
    width: 200px;
}

#quick-links {  /* Data privacy and etc. */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-text div:nth-child(2) h4 {  /* Data privacy and etc. individual headers */
    margin: 5px;
}

/* Middle footer text */
.footer-text div:nth-child(2) h4 a {text-decoration: underline}
.footer-text div:nth-child(2) a:hover {text-decoration-color: var(--pink-2)}


footer h3, footer h4, footer p {
    text-align: center;
    color: var(--white);
}

footer h3, footer h4 {
    font-family: var(--sans-serif-text-2);
    font-size: 32px;
}

footer h3 {
    margin: 5px 0;
}

footer p { /* Small text below header text */
    font-family: var(--sans-serif-text-2-light);
    font-size: 24px;
    margin: 10px;
}

footer div:nth-child(1) { /* The blue part of the footer */
    height: 100%;
    background-color: var(--blue-4);
}

#contacts { /* if you center inline-block elements, use text align */
    display: inline-block;
    width: 500px;
    text-align: center;
}

#phone-numbers a { /* Phone numbers at header */
    color: var(--white);
}

.contacts-section {
    width: 200px;
    display: inline-block;
}


#icons { /* the div for the icon lists */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#icons img { /* individual images of social media icons */
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

#copyright {
    background-color: rgb(26, 26, 26);
    height: 50px;
}

/* ---------------------------- ABOUT --------------------------------- */


#about h2, #academics h2, #admissions h2 {
    font-size: 48px;
    display: flex;
    margin: 0;
    justify-content: center;
}

#about p {
    font-size: 24px;
    width: 80%;
    text-align: justify;
    margin: 2.25rem auto;
}

#about hr {
width: 90%;
}

#history-container {
    margin: 5px;
    background-color: var(--blue);
}

#history-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

#history-content {
    color: #e0dbcc;
}

#about p { /* adds a bit of shadow for every p in about */   
    text-shadow: 0 0 90px black;
}

#history-content img, #history-content p { /* makes both the image and text in history section inline */
    display: inline-block;
    margin: 1rem;
}

#history-content img { /* old drawing of university with pk */
    width: 300px;
}

#vision-mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 320px;
}

#vision-mission div {
    width: 100%;
    margin: 5px;
}

#vision div, #mission div { /* Targets the specific .header-sections in vision and mission to take the entire width of its parent div */
    width: 100%; 
    margin: 0;
}

#vision, #mission {
    background-color: var(--pink);
    margin-top: 0 !important;
    color: var(--blue-4); /* targets the text inside vision and mission */
}

#vision {margin-right: 2.5px !important;}
#mission {margin-left: 2.5px !important;}

#admin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 350px;
}

#administration-container {
    flex-direction: row;
}

#administration-container div {
    margin: 5px 0;
}

#administration-container .collegeFaculty {
    background-color: var(--pink-2);
}


#administration-container .collegeFaculty div {
    margin: auto 30px;
}

#adminstration h2 {
    font-size: 20px;
}

#administration p  {
    text-align: center;
    margin: auto;
    font-size: 16px;
}

/* ---------------------------- ACADEMICS --------------------------------- */

.big-picture { /* div of the big header picture */
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--blue-2);
    box-shadow: 0 0 5px black;
}

.big-picture img { /* Big header picture below the main page header text */
    margin: 40px;
    max-width: 100%; min-width: 90%;
}

#program-list {
    margin: 30px 0;
}

.individual-program { /* div of degree program and button */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 0 5px black;
}

#cetProgram {
    background-image: url('img/cetProgramPic.png');
}

#casProgram {
    background-image: url('img/casProgramPic.png');
}

#academicDescription {
    font-size: 24px;
    text-align: center;
    color: var(--blue-4);
}

.program-text {
    color: var(--white);
    width: 100%;
    align-content: center;
}

.program-text h3 { /* The college name in academics page */
    font-family: var(--serif-header-2);
    font-size: 48px;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 1px black;
}

.program-text p {
    text-align: center;
    font-size: 32px;
}


.light-2 { /* Light buttons that have blue borders and text (Buttons in academic page) */
    display: block;
    font-size: 32px;
    width: 225px;
    height: 50px;
    cursor: pointer;
    font-family: var(--serif-text);
    text-align: center;
    /* text-decoration: none; */
    color: var(--white);
    border: 3px solid var(--white);
    border-radius: 50px;   
    background-color: transparent;
    margin: 20px auto;
}

    
.light-2:hover {
    border: 3px solid var(--white);
    background-color: var(--white);
    color: var(--blue-4);
}

/* ---------------------------- ADMISSIONS --------------------------------- */

#admissions-text {
    max-width: 1821px;
    margin: 0 3%;
}

#admissions-text h3 {
    font-family: var(--sans-serif-text-3-bold);
    font-size: 32px;
}

#admissions-text p {
    font-family: var(--sans-serif-text-3);
    text-align: justify;
    font-size: 24px;
}

#admissions-text span {
    display: block;
    margin: 1rem 5rem;
}

/* ---------------------------- FORM --------------------------------- */

#form h2, #submitted-content h2 { /* "Application Form" */
    font-family: var(--sans-serif-text-3-bold);
    font-size: 36px;
    text-align: center;
}

#form hr {
    width: 90%;
}

#text-reminder { /* Please input all fields accurately. */
    color: #a2a2a2;
    font-family: var(--sans-serif-text-3-italic);
    margin-left: 30px;
    font-size: 24px;
}

label, th p { /* Targets all label and the file upload label */
    font-family: var(--sans-serif-text-3);
    font-size: 32px;
}

.input-field, .upload-field { /* Margin for each input div */
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input { /* Default input element styling */
    display: block;
    width: 800px;
    height: 48px;
    border: 2px solid var(--blue-4);
    border-radius: 8px;
}

input[type="text"], input[type="email"] { /* inputted text in a textarea when not focused on */
    color: var(--blue-3);
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
}

input:focus { /* inputted text in a textarea when focused on */
    color: var(--blue-3);
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
}

input::placeholder { /* placeholder text of a textarea */
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
    color: grey;
  }

#birthday-field p { /* Date/Month/Year */
    font-size: 16px;
    margin: 2px;
    font-family: var(--sans-serif-text-3);
}

select { /* Styling of input selection */
    display: block;
    width: 420px;
    height: 48px;
    border: 2px solid var(--blue-4);
    border-radius: 8px;
}

select { /* Text inside every input selection */
    color: var(--blue-3);
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
}

#upload-field tbody {
    border-radius: 8px;
}

tr, tr p { /* Default dark color on upload documents table text */
    color: var(--blue-2);
}

tr p, tr label { /* Changes font of text inside upload table */
    font-family: var(--sans-serif-text-3-light);
}

tr th:nth-child(1) { /* Increases width of the label column */
    width: 900px;
    text-align: left;
}

th p { /* Adjusts margin of file upload label in table */
    margin: 10px;
}


th button { /* "Upload" button */
    width: 180px;
    height: 40px;
    border: 2px solid var(--blue-4);
    border-radius: 8px;

    font-size: 32px;
    font-family: var(--sans-serif-text-3-light);
}


input[type=file], input[type=file]:focus { /* Sets style of file name below Upload button and also when its focused on */
    display: block;
    width: 100%;
    height: 100%;
    border: 0;

    text-align: center;
    font-size: 16px;
    font-family: var(--sans-serif-text-3);

}

/* Disables changing of color on each file name indicator when focused on */
.even-row input[type=file]:focus {color: var(--blue-2)}
.odd-row input[type=file]:focus {color: var(--white)}

input[type=file]::file-selector-button { /* Hides the default 'Browse...' button */
    display: none;
}

.upload-row label {
    margin: 10px;
    cursor: pointer;
}

.upload-row { /* shows white background if row doesnt specify if even or odd */
    background-color: var(--white);
}

.even-row {
    background-color: var(--pink);
}

.odd-row, .odd-row th p {
    background-color: var(--pink-2);
    color: var(--white);
}



#certify-checkbox {
    margin-top: 50px;
    width: 90%;
    height: 180px;
    display: flex;
    flex-direction: row;
}

#certify-checkbox input {
    display: inline-block;
    width: 5%;
    margin-bottom: auto;
    margin-top: 0;
}

#certify-checkbox label {
    display: inline-block;
    margin-left: 10px;
}

#form-buttons {
    display: inline-block;
}

#form-buttons input {
    display: inline;
    font-family: var(--sans-serif-text-3);
    color: var(--white);
    margin: 10px;
}

#form-buttons input:hover {
    display: inline;
    font-family: var(--sans-serif-text-3);
    color: var(--blue-3);
}

input[type=text]:focus { /* inputted text in a textarea when focused on */
    color: var(--blue-3);
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
}

/* ---------------------------- SUBMITTED --------------------------------- */

#submit-text { /* The div of the submission page content */
    width: 90%;
    margin: 180px auto;
}

#submit-text p { /* "Please check your email..." */
    font-size: 32px;
    font-family: var(--sans-serif-text-3);
}

#submit-text span { /* The admissions email "admissions@hallownest.edu" */
    font-weight: bold;
    font-style: italic;
}

/* ----------------------------- COLLEGES ------------------------------------- */


.dropdown {
    margin: 5px auto;
    width: 90%;
}

.collegeImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* filter: brightness(0.6); */ /* Why is the h2 also affected by this */
}

.collegeImage h2 {
    position: absolute;
    width: 100%;
    top: 22%;
    text-align: center;
    color: var(--white);
    font-size: 64px;
}

.collegeDescription {
    height: 240px;
    background-color: var(--blue-2);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0 10px black;
}

.collegeDescription h3 {
    font-family: var(--serif-header);
    color: var(--white);
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.collegeDescription p {
    color: var(--white);
    font-size: 24px;
    text-align: center;
    margin: 0 30px;
}

.header-section h3 { /* Curriculum */
    font-family: var(--serif-header);
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 0;
}

.dropdown-table {
    width: 100%;
    margin: 0 auto;
    display: none; /* Is toggled true/false by js */
    flex-direction: column;
    align-items: flex-start; /* Makes sure it doesn't stretch the table to the end */
    background-color: var(--pink);
}

.dropdown-tab button { /* The clickable area at the dropdown tab */
    width: 100%;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--maroon);
    border-radius: 10px;

    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.dropdown span:nth-of-type(1) {  /* The name of the course in the dropdown tab */
    color: var(--pink);
    font-family: var(--serif-header-2);
    font-size: 32px;
    margin: auto 0;
}

.arrow { /* The tab arrow used for the dropdown curriculum tables */
    height: 100%;
    width: 48px;

    color: var(--pink);
    background-color: #38223a;
    font-size: 32px;
    font-family: var(--sans-serif-text-3-bold);
}

.dropdown table, .dropdown td, .dropdown th, .dropdown tr {
    border: 1px solid var(--pink-3);
    font-family: var(--sans-serif-text);
}

.dropdown table {
    border-collapse: collapse;
    margin: 15px;
}

.dropdown tr:nth-child(1) {
    background-color: var(--blue-2);
    color: var(--white);
}

.dropdown tr:nth-child(2) {
    background-color: var(--blue);
    color: var(--white);
}

.dropdown tr th:nth-child(1) { /* Course code */ width: 140px;}
.dropdown tr th:nth-child(2) { /* Course title */ width: 420px;}
.dropdown tr td:nth-child(4) { /* Prereq column */ width: 200px;}

#facultyTab {
    margin-bottom: 30px;
}

/* #facultyTab h2 { Faculty 
    text-align: center;
    background-color: var(--pink-2);
    font-family: var(--serif-header-2);
    color: var(--blue-4);
    text-shadow: 1px 1px 26px black;
    font-weight:bold;
    border: 2px solid var(--blue-4);
    margin: 0;
    height: 40px;
} */

.collegeFaculty {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--pink);
}

.individualFaculty {
    height: 320px;
    background-color: var(--blue-2);
    width: 240px;
    text-align: center;
    margin: auto 20px;
}

.individualFaculty, .individualFaculty img {
    border-radius: 20px;
}

.individualFaculty h3 {
    font-family: var(--serif-header);
    color: var(--pink);
    font-weight: 800;
    margin-bottom: 0;
}

.individualFaculty p {
    font-family: var(--serif-header-2);
    color: var(--pink-2);
    margin: 0;
    font-weight: 600;
}


/**************************************************DESKTOP ZOOMED************************************************************/

#hamburger {
    display: none;
}



@media only screen and (max-width: 1120px) { /* 170% */
    .nav {
        display: none;
    }

    .idk3 p {
        width: 80%;
    }

    .idk p {
        font-size: 100%;
    }


    #hamburger {
        display: block;
        margin-right: 30px;
      
    }

    #hamburger:hover {
        cursor: pointer;
    }

    .newscard p {
        font-size: 18px;
    }

    button {
        height: 40px;
        font-size: 22px !important;
    }

    .light, .dark {
        width: 150px;
    }

    .idk2 h2 {
        margin: 0;
        text-align: center;
        font-size: 64px;
    }
    
    .idk2 p {
        font-family: var(--serif-text);
        text-align: center;
        font-size: 32px;
        
        margin: 2vw 10%;
    }

    .dropdown-tab button {
        width: 100%;
    }

    #vision p, #mission p {
        font-size: 20px;
    }

}


@media only screen and (max-width: 1500px) { /* 130% */
    .idk div:nth-child(1) {
        margin-left: 20px;
    }

    .idk div:nth-child(3) {
        margin-right: 20px;
    }

}

@media only screen and (max-width: 1400px) { /* 140% */
    
    
footer h2 {
    color: var(--pink);
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

#footer-main {
    height: 200px;
}

.footer-text { /* Footer text below UH text and above the copyright section */

    margin: 30px 0; /* ??? */
}

.footer-text div { /* Makes sure that each div in footer text are same width to evenly center */
    width: 400px; /*??? */
    height: 90px;
}


.footer-text div:nth-child(2) h4 {  /* Data privacy and etc. individual headers */
    margin: 0px;
    text-decoration: underline;
}

#news {
    height: 600px;
}



footer h3, footer h4 {
    font-family: var(--sans-serif-text-2);
    font-size: 24px;
}

footer h3 {
    margin: 0px 0;
}

footer p { /* Small text below header text */
    font-family: var(--sans-serif-text-2-light);
    font-size: 16px;

    /* Makes sure there is no extra white space at the bottom of the page because of margin stretching the page */
    padding-top: 5px;
    margin: 0;
}

footer div:nth-child(1) { /*  */
    height: 100%;
    background-color: var(--blue-4);
}

#contacts { /* if you center inline-block elements, use text align */
    display: inline-block;
    width: 100%;
    text-align: center;
}

#contacts div {
    display: inline-block;
    width: 110px;
    height: 55px;
}


.contacts-section {
    display: inline-block;
}

#icons { /* the div for the icon lists */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 0px !important;
}

#handles p {margin: 0;}

#icons img { /* individual images of social media icons */
    width: 20px;
    margin: 1px;
    cursor: pointer;
}


#copyright {
    background-color: rgb(26, 26, 26);
    height: 25px;
}

.newscard {
    height: 400px;
    width: 300px;
}

.newscard p {padding: 5px;}

.newscard img {
    width: 100%;
}

.collegeImage h2 {
    top: 10%;
    font-size: 48px;
}

#form-buttons input {
    width: 250px;
}


}

@media only screen and (max-width: 1600px) { /* 120% */
    /* .idk3 p {
        font-size: 26px;
    } */
}



@media screen and (max-width: 1120px) {
    .idk2 p {
        font-size: 32px;
    }

    .light {
        border: 2px solid var(--white);
    }

    .light-2 {
        font-size: 24px !important;
    }

    .dark {
        font-size: 24px !important;
        width: 200px;
        height: 60px;
    }
}

/************************TABLET*************************************/

@media only screen and (max-width:1200px) {
    .firstimage, .firstimage img {
        height: 600px;
    }

    .firstimage h1 {
        top: 330px;
        font-size: 56px;
    }

    .idk {
        height: 200px;
    }

    .idk2 {
        height: 400px;
    }

    .idk3 h2 {
        padding-top: 15px;
    }

    .idk2 h2, .idk3 h2 {
        font-size: 56px;
    }

    .collegeDescription p {
        font-size: 18px;
    }

    .idk3 button {
        margin: 3vw 7vw;
    }

    tr th:nth-child(1) { /* Increases width of the label column */
        width: 740px;
    }

    #certify-checkbox input {
        width: 15%;
    }

    #news-headline {
        font-size: 42px;
    }

    #news-text p {
        font-size: 28px;
    }
}

/***********************PHONE***********************************/

@media only screen and (max-width:450px) {

    .logo {width: 50%;}

    .firstimage h1 {
        top: 175px;
        text-shadow: 2px 2px 8px black
    }

    .logo span { /* University of Hallownest */
        font-size: 16px;
        width: 100%;
    }

    #header {
        width: 100%;
    }

    #hamburger {
        width: 26px;
        height: 40%;
        margin: auto 15px;
    }

    .firstimage {
        width: 100%;
        height: 250px;
    }

    .firstimage img {
        width: 100%;
        height: 100%;
    }

    .firstimage h1 {
        font-size: 2em;
    }

    #thatoneline {
        margin: 10px;
        height: 90%;
        width: 3px; /* thinner line */
    }

    .idk {
        height: 200px;
    }

    
    .idk h2 { /* Form Connections / Experience Education */
        font-size: 14px;
        width: 100%;
    }

    .idk p {
        font-size: 12px;
    }

    .idk2 {
        height: 270px;
    }

    .idk2 h2 { /* Be the Light */
        font-size: 32px;
        margin: 15px;
    }

    .idk2 p {
        font-size: 16px;
    }

    .idk3 {
        background-repeat: no-repeat;
        background-size: 1400px;
        align-items: center;
        height: 300px;
    }

    #news {
        height: 100%;
    }
    .newspanel {
        flex-direction: column;
        align-items: center;
    }

    .newscard {
        margin: 5px;
    }

    #news-headline {
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
        font-size: 24px;
    }

    #byline {
        font-size: 12px;
    }

    #news-text {
        width: 95%;
    }

    #news-text p {
        font-size: 16px;
        margin: 25px;
    }

    .dark {
        font-size: 24px !important;
        width: 100px;
        height: 40px;
        font-size: 12px !important;
    }

    .light-2 {
        width: 100px;
        font-size: 14px !important;
    }


    .idk3 h2 { /* ACADEMICS */
        font-size: 32px;
        padding: 10px 0;
        text-align: center;
    }

    .idk3 p {
        font-size: 16px;
        text-align: center;
        margin: 20px 0;
    }

    .idk3 button {
        margin: 0;
    }

    .newscard div p {
        margin: 25px auto;
        width: 80%;
    }

    .footer-text div {
        width: 150px;
    }

    .footer-text h3, .footer-text h4 {
        font-size: 16px;
    }

    .footer-text p {
        font-size: 12px;
    }

    #phone-numbers p {
        padding: 0;
    }

    .contacts-section p {
        padding-top: 0px;
    }

    #handles {
        padding-top: 5px;
    }
    
    #contacts div {
        height: 40px;
    }

    .collegeImage img {
        height: 120px;
    }

    .collegeImage h2 { /* it says academics */
        font-size: 24px;
        top: 110px;
    }

    .collegeDescription p {
        font-size: 14px;
    }

    .big-picture img {
        margin: 20px;
    }

    #academicDescription {
        width: 90%;
        margin: 0 auto;
    }

    .program-text { /* adjust the div for program links */
        height: 80px;
    }

    .light-2 {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        border: 2px solid var(--white);
    }
    

    .dark:hover {
        border: 2px solid var(--blue-3);
    }

    .program-text h3 {/* College of... */
        font-size: 18px;
    }

    /* INDIVIDUAL COLLEGES */


    .individual-program { /* adjusts the image inside individual programs to not stretch */
        background-size: 100% 100%;
    }

    .big-picture img {
        margin: 0;
    }

    #admissions-text h3, #form h2, #submitted-content h2, .collegeDescription h3, .header-section h3, #briefHistory {
        font-size: 24px;
    }

    #academicDescription, #admissions-text p, #text-reminder, label, th p, #submit-text p, #history-content p, #about p {
        font-size: 16px;
    }

    .dropdown span:nth-of-type(1) {
        font-size: 16px;
        line-height: 20px;
        margin: auto 0;
        text-align: left;
    }

    .collegeFaculty {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .individualFaculty {
        margin: 10px 20px;
    }

    #submit-text p {
        line-height: 1.5rem;
    }

    table {
        width: 90%;
    }

    th button {
        height: 25px;
        width: 100px;
        font-size: 18px !important;
    }

    tr th:nth-child(1) {
        width: 50%;
    }

    tr th:nth-child(2) {
        width: 20%;
    }

    .dropdown tr th:nth-child(1) { /* Course code */ width: 2px;}
    .dropdown tr th:nth-child(2) { /* Course title */ width: 420px;}
    .dropdown tr td:nth-child(4) { /* Prereq column */ width: 200px;}

    .dropdown th { font-size: 12px;}
    .dropdown td { font-size: 12px;}

    input, select {
        width: 80%;
    }

    input[type="file"], input[type="file"]:focus {
        font-size: 10px;
    }

    #certify-checkbox {
        margin: 0;
    }

    #certify-checkbox input {
        width: 50%;
    }

    /* -------------- ABOUT --------------------- */

    #history-content {
        flex-direction: column;
    }

    #history-content img {
        height: 240px;
        margin: 0 auto;
        margin-top: 20px;
    }

    #history-content p {
        margin: 10px auto;
        text-shadow: 0 0 30px black;
    }

    #about .header-section h2 {
        font-size: 24px;
    }

    #vision-mission {
        height: 420px;
    }

    #administration-container .individualFaculty {
        margin: 10px 0 !important;
    }
}