@font-face { font-family: "Butler"; src: url('fonts/Butler_Light.otf'); } /* UNUSED FONT */
@font-face { font-family: "Trajan Pro"; src: url('fonts/TrajanPro-Regular.ttf'); }
@font-face { font-family: "Alumni Sans Regular"; src: url('fonts/AlumniSans-Regular.ttf'); }
@font-face { font-family: "Alumni Sans ExtraLight"; src: url('fonts/AlumniSans-ExtraLight.ttf'); }
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face { font-family: "Kaisei Tokumin"; src: url('fonts/KaiseiTokumin-Regular.ttf'); }
@font-face { font-family: "Sansation Regular"; src: url('fonts/Sansation_Regular.ttf');}
@font-face { font-family: "Sansation Italic"; src: url('fonts/Sansation_Italic.ttf');}
@font-face { font-family: "Sansation Light"; src: url('fonts/Sansation_Light.ttf');}
@font-face { font-family: "Sansation Bold"; src: url('fonts/Sansation_Bold.ttf');}

:root {
    --pink: #b2a4bd;
    --pink-2: #8876a0;
    --pink-3: #4b4e74;
    --maroon: #492d4b;
    --blue: #485d81;
    --blue-2: #22345c;
    --blue-3: #152041;
    --blue-4: #1a163e;
    --white: #EAEAEA;
    --serif-header: 'Trajan Pro', 'Arial', Times, serif;
    --serif-header-2: "Kaisei Tokumin", 'Times New Roman', serif;
    --serif-text: "Kaisei Tokumin", Arial;
    --sans-serif-text: 'Poppins', Arial, Helvetica, sans-serif;
    --sans-serif-text-2: 'Alumni Sans Regular', "Comic Sans MS";
    --sans-serif-text-2-light: 'Alumni Sans ExtraLight', "Comic Sans MS";
    --sans-serif-text-3: 'Sansation Regular', "Arial", sans-serif;
    --sans-serif-text-3-italic: 'Sansation Italic', "Arial", sans-serif;
    --sans-serif-text-3-light: 'Sansation Light', "Arial", sans-serif;
    --sans-serif-text-3-bold: 'Sansation Bold', "Arial Black", sans-serif;
}

body {
    margin: 0 0;
    background-color: var(--white); /* Makes sure white background isn't purely white */
}

a {text-decoration: none;} /* No hyperlink shall ever have a default underline */


p, h1 {
    font-family: var(--serif-text); /* Default font for h1 and p is Kaisei Tokumin */
}

h2 {
    font-family: var(--serif-header-2); 
}

.text-shadow {
    margin: 0;
    text-shadow: 0 0 4px black, 2px 2px 32px black;
}

.header-space {height:80px} /* Makes sure that top content doesn't overlap with the header */

#header, .firstimage h1 {
    font-family: var(--serif-header);
}   


#header {
    background-color: var(--blue-3);
    z-index: 1;
    height: 80px;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
}

#header.hide {
    top: -90px;
}

#header p {
    font-weight: 600;
}

#header a {
    font-family: var(--sans-serif-text);
    font-weight: 400;
    color: var(--pink);
    text-decoration: none;
}

#header div {
    width: 100%;
    height: 100%;
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
}


.logo span {
    font-size: 2.2em; /* Renders text differently in Firefox and Chrome */
    font-family: var(--serif-header);
    display: block; 
    margin: auto 0;
    color: var(--pink);
}


.logo img {
    max-width: 90%;
    max-height: 90%;
}

.links {
    margin-right: 3vw;
    padding: 5px;
    text-align: right;
}

.links a {
    font-size: 24px;
}

.middlelink {
    margin: 0 30px;
}

.firstimage {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.firstimage img {
    width: 100%;
    height: 1000px;
    filter: brightness(60%);
}

.firstimage h1 { /* Please fix how the tagline is centered */
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;

    font-size: 96px;
    color: var(--white);
}

.idk {
    margin: 0;
    width: 100%;
    height: 280px;
    background-color: var(--blue-4);
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px black
}

.idk div {
    width: 50%;
    display: flex; 
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

.idk div:nth-child(1) {
    text-align: right;
    float: right; 
    margin-left: 250px;
}

.idk div:nth-child(3) {
    text-align: left;
    margin-right: 250px;
}

.idk h2 {
    color: var(--white);
    font-weight: bold;
}

.idk p {
    color: var(--white);
    margin: 0;
    min-height: 100%;
    font-size: 24px;
    font-family: var(--serif-text);
    font-weight: 300;
}

.idk2 {
    margin: 0;
    width: 100%;
    height: 480px;
}

.idk2 h2 {
    margin: 30px 0;
    font-family: var(--serif-header-2);
    text-align: center;
    font-size: 64px;
}

.idk2 p {
    font-family: var(--serif-text);
    text-align: center;
    font-size: 38px;
    margin: 2vw 10%;
}

.dark {
    display: block;
    margin: 0 auto;
    font-size: 32px;
    width: 225px;
    cursor: pointer;
    font-family: var(--serif-text);
    text-align: center;
    /* text-decoration: none; */
    color: #fff;
    background-color: var(--blue-3);
    border: 3px solid var(--blue-3);
    border-radius: 50px;   

    }

    

.dark:hover {
    border: 3px solid var(--blue-3);
    background-color: var(--white);
    color: var(--blue-3);
}

.idk3 {
    width: 100%;
    height: 480px;
    background-image: url('img/academics.png');
    display: flex;
    flex-direction: column;
}

.idk3 h2 {
    font-family: var(--serif-header-2);
    font-size: 72px;
    color: var(--white);
    padding-top: 50px;
    margin-left: 3vw;
}

.idk3 p {
    margin-left: 3vw;
    width: 55%;
    margin-bottom: 0;
    margin-top: 24px;
    font-size: 36px;
    color: var(--white);
}

.light {
    display: block;
    margin: 1vw 7vw;
    font-size: 32px;
    width: 225px;
    cursor: pointer;
    font-family: var(--serif-text);
    text-align: center;
    /* text-decoration: none; */
    color: #fff;
    border: 3px solid var(--white);
    border-radius: 50px;   
    background-color: transparent;
}

    
.light:hover {
    border: 3px solid var(--white);
    background-color: var(--white);
    color: var(--blue-3);
}

#news {
    width: 100%;
    height: 820px;
}

#news h2 {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    font-size: 2.5em;
}

.newspanel {
    display: flex;
    justify-content: center;
}

.newscard {
    margin: 0 2rem;
    width: 420px;
    height: 540px;
    background-color: var(--blue-2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.newscard span {
    font-family: var(--sans-serif-text);
    color: var(--white);
    font-size: 12px;
    font-style: italic;
    padding: 20px;
    font-weight: lighter;
}

.newscard p {
    font-family: var(--sans-serif-text);
    color: var(--white);
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.newscard img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50px 50px 0 0;
    border: 0;
}


.newscard div {
    background-color: var(--blue-2);
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 50px 50px;
    height: 15rem;
}

.newscard p {
    margin: 0;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
}

footer h2 {
    color: var(--pink);
    margin: 0;
    padding: 10px;
    font-size: 26px;
    text-align: center;
}

#footer-main {
    height: 300px;
}

.footer-text { /* Footer text below UH text and above the copyright section */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin: 30px 0;
}

.footer-text div { /* Makes sure that each div in footer text are same width to evenly center */
    width: 500px;
}

#quick-links {  /* Data privacy and etc. */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-text div:nth-child(2) h4 {  /* Data privacy and etc. individual headers */
    margin: 5px;
    text-decoration: underline;
}


footer h3, footer h4, footer p {
    text-align: center;
    color: var(--white);
}

footer h3, footer h4 {
    font-family: var(--sans-serif-text-2);
    font-size: 32px;
}

footer h3 {
    margin: 5px 0;
}

footer p { /* Small text below header text */
    font-family: var(--sans-serif-text-2-light);
    font-size: 24px;
    margin: 10px;
}

footer div:nth-child(1) { /*  */
    height: 100%;
    background-color: var(--blue-4);
}

#contacts { /* if you center inline-block elements, use text align */
    display: inline-block;
    width: 500px;
    text-align: center;
}

.contacts-section {
    width: 200px !important;
    display: inline-block;
}


#icons { /* the div for the icon lists */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#icons img { /* individual images of social media icons */
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

#copyright {
    background-color: rgb(26, 26, 26);
    height: 50px;
}

/* ---------------------------- ABOUT --------------------------------- */



#about h2, #academics h2, #admissions h2 {
    font-size: 48px;
    margin: 1rem;
    text-align: center;
}

#about p {
    font-size: 24px;
    width: 80%;
    text-align: justify;
    margin: 1rem auto;
}

#about hr {
width: 90%;
}

#history-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

#history-content img, #history-content p {
    display: inline-block;
    margin: 1rem;
}

#history-content img {
    width: 300px;
}

#vision-mission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 480px;
}

#vision-mission div {
    width: 40%;
}

/* ---------------------------- ACADEMICS --------------------------------- */

.big-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.big-picture img {
    max-width: 100%; min-width: 90%;
}

.individual-program {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#academics h3 {
    font-family: var(--serif-header-2);
    font-size: 32px;
}

#academics h3, .light-blue {
    margin: 1vw 6rem;
}

.light-blue {
    display: block;
    font-size: 32px;
    width: 225px;
    height: 50px;
    cursor: pointer;
    font-family: var(--serif-text);
    text-align: center;
    /* text-decoration: none; */
    color: var(--blue-4);
    border: 3px solid var(--blue-4);
    border-radius: 50px;   
    background-color: transparent;
    float: right;
}

    
.light-blue:hover {
    border: 3px solid var(--blue-4);
    background-color: var(--blue-4);
    color: var(--white);
}

/* ---------------------------- ADMISSIONS --------------------------------- */

#admissions-text {
    max-width: 1821px;
    margin: 0 3%;
}

#admissions-text h3 {
    font-family: var(--sans-serif-text-3-bold);
    font-size: 32px;
}

#admissions-text p {
    font-family: var(--sans-serif-text-3);
    text-align: justify;
    font-size: 24px;
}

#admissions-text span {
    display: block;
    margin: 1rem 5rem;
}

/* ---------------------------- FORM --------------------------------- */

#form h2 {
    font-family: var(--sans-serif-text-3-bold);
    font-size: 36px;
    text-align: center;
}

#form hr {
    width: 90%;
}

#text-reminder { /* Please input all fields accurately. */
    color: #a2a2a2;
    font-family: var(--sans-serif-text-3-italic);
}

label, th p { /* Targets all label and the file upload label */
    font-family: var(--sans-serif-text-3);
    font-size: 32px;
}

.input-field, .upload-field {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    display: block;
    width: 800px;
    height: 48px;
    border: 2px solid var(--blue-4);
    border-radius: 8px;
}

input:focus {
    color: var(--blue-3);
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
}

input::placeholder {
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
    color: grey;
  }

#birthday-field p {
    font-size: 16px;
    margin: 2px;
    font-family: var(--sans-serif-text-3);
}

select {
    display: block;
    width: 420px;
    height: 48px;
    border: 2px solid var(--blue-4);
    border-radius: 8px;
}

select, option, select::placeholder, option::placeholder {
    color: var(--blue-3);
    font-family: var(--sans-serif-text-3-light);
    font-size: 32px;
}

tr, tr p {
    margin: 0;
    padding: 0;
    color: var(--blue-2);
}

tr p, tr label { /* Changes font of text inside upload table */
    font-family: var(--sans-serif-text-3-light);
}

tr th:nth-child(1) { /* Increases width of the label column */
    width: 900px;
    text-align: left;
}

th p { /* Adjusts margin of file upload label in table */
    margin: 10px;
}


th button {
    width: 180px;
    height: 40px;
    border: 2px solid var(--blue-4);
    border-radius: 8px;

    font-size: 32px;
    font-family: var(--sans-serif-text-3-light);
}



input[type=file] {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;

    text-align: center;
    font-size: 16px;
    font-family: var(--sans-serif-text-3);

  }
input[type=file]::file-selector-button {
    display: none;
}

.upload-row label {
    margin: 10px;
    cursor: pointer;
}

.upload-row { /* shows white background if row doesnt specify if even or odd */
    background-color: var(--white);
}

.even-row {
    background-color: var(--pink);
}

.odd-row, .odd-row th p {
    background-color: var(--pink-2);
    color: #EAEAEA;
}